<script type="text/javascript" src="[% c.config.dir.js %]/site/star.js"></script>

<div class='one'>
<table align='center'>
<tr align='center' class='title'><td width='20'>[% c.loc("Star") %]</td><td align='left'>[% c.loc("Subject") %]</td><td width='180'>[% c.loc("Author") %]</td><td width='180'>[% c.loc("Last Update") %]</td></tr>
[% FOREACH item IN starred_items %]
<tr align='center' class='misc[% IF loop.count mod 2 %]1[% ELSE %]2[% END %]'>

<td><a href="javascript:star('[% item.object_type %]', '[% item.object_id %]', 'starDiv')"><span id='starDiv'><img src="http://mail.google.com/mail/images/star_on_2.gif" /></span></a></td>
[% SWITCH item.object_type  %]
[% CASE 'topic' %]
<td align='left'><a href='[% item.object.url %]'>[% item.object.title %]</a></td>
<td><a href='/u/[% item.object.author.username %]'>[% item.object.author.nickname %]</a></td>
<td>[% item.object.last_update_date %]</td>
[% END %]

</tr>
[% END %]
</table>

<br />
<table align='center'>
<tr><td class='misc1'>[% INCLUDE sub/pager.html %]</td></tr>
</table>
</div>