A:visited { text-decoration: none; }
A:active { text-decoration: none; }
A:hover { text-decoration: underline; }
A:link { text-decoration: none; }
IMG { border:0px; }
BODY { 
    font-family: ו;
    font-size: 9pt;
    margin: 0;
    scrollbar-highlight-color: buttonface;
    scrollbar-shadow-color: buttonface;
    scrollbar-3Dlight-color: buttonhighlight;
    scrollbar-track-color: #eeeeee;
    scrollbar-drakshadow-color: buttonshadow;
}
TD, DIV, form, OPTION, P, TH { font-family: ו; font-size: 9pt }
INPUT, textarea, select { border-width: 1px; padding: 1px; font-size: 9pt; border-color: #cccccc; }

#footer {
    text-align: center;
    clear: both;
}