
<h3>Contact</h3>

<p><a href="/contacts/add">Add a Contact</a></p>

[% IF contacts.size %]

<table border='1'>
<tr><th>Name</th><th>Email</th><th>Phone</th><th>Group</th><th>Notes</th><th>-</th></tr>
[% FOREACH contact IN contacts %]
<tr>
	<td>[% contact.name %]</td>
	<td>[% contact.email %]</td>
	<td>[% contact.phone %]</td>
	<td>[% contact.groups %]</td>
	<td>[% contact.notes %]</td>
	<td><a href="/contacts/[% contact.contact_id %]/edit">Edit</a> | <a href="/contacts/[% contact.contact_id %]/delete">Delete</a></td>
</tr>
[% END %]
</table>

[% END %]

<h3>Import From Mail</h3>

<form action="/contacts/import" method="POST">
<p>Email: <input type="text" name="email" /></p>
<p>Password: <input type="password" name="pass" /></p>
<p><input type="submit" /></p>
</form>

[% IF err %]
<div style="color:red">[% err %]</div>
[% END %]