[% url_base = '/forumadmin/' _ forum.forum_id %]

<table align='center' class='tablewidth'>
<tr><td valign='top' align='left'>
<div class='one'>
<table>
<tr><td class='title'>Menu</td></tr>
<tr><td class='forum1'><a href='[% url_base %]/basic'>Basic Setting</a></td></tr>
<tr><td class='forum2'><a href='[% url_base %]/style'>Style Setting</a></td></tr>
<tr><td class='forum1'><a href='[% url_base %]/announcement'>Announcement Setting</a></td></tr>
<tr><td class='forum2'><a href='[% url_base %]/block_user'>Block Users</a></td></tr>
</table>
</div>
</td><td valign='top'>
[% content %]
</td></tr></table>