[% WRAPPER 'forumadmin/bar.html' %]

<div class='one'>
<form method='post'>
<input type='hidden' name='process' value='1' />
<table align='center'>
    <tr class='forum1'><td>Forum name:</td><td><input type='text' name='name' size='32' /></td></tr>
    <tr class='forum2'><td>Forum description:</td><td><textarea name='description' cols='36' rows='3'></textarea></td></tr>
    <tr class='forum1'><td>Moderator</td><td><input type='text' name='moderator' /></td></tr>
    <tr class='forum2'><td colspan='2'><input type='submit' /></td></tr>
</table>
</form>
</div>

[% END %]