[% USE FillInForm %]

[% WRAPPER 'forumadmin/bar.html' %]

<div class='one'>
<form method='post'>
<table align='center'>
[% IF ok %]
    <tr class='forum2'><td colspan='2'>Update Succuessfully. <br />
    [% FOREACH failed_user IN failed_users %]
    [% IF failed_user.1 == 'NONEXIST' %]
    NO SUCH USER [% failed_user.0 %].<br />
    [% ELSIF failed_user.1 == 'ALREADYHAS' %]
    [% failed_user.0 %] ALREADY IS ADMIN/MODERATOR/USER.<br />
    [% END %]
    [% END %]    
    </td></tr>
[% END %]
    <tr class='forum1'>
        <td>
<textarea cols='60' rows='18' wrap="virtual" name="users">
[% FOREACH blocked_user IN blocked_users %]
[% blocked_user.user.username _ "\n" %]
[% END %]
</textarea>
        </td><td valign='top'>
            Be sure it's username not nickname.<br />
            one user one line.
        </td>
    </tr>
    <tr class='forum2'><td colspan='2'><input type='submit' name='submit' value="I'm sure, Let's Go!" /></td></tr>
</table>
</form>
</div>

[% END %]
