[% PROCESS 'config/format.html' %]

[% color_option = BLOCK %]
[% FOREACH color IN config.all_colors %]
<option style="background-color:[% color %];color:[% color %]" value="[% color %]">[% color %]</option>
[% END %]
[% END %]

<script>
	function CHANGEC(obj) {
		$(obj).style.background = $(obj).value;
	}
	function show_color(color) {
		$('showcolor').value = color;
	}
</script>

[% WRAPPER 'forumadmin/bar.html' %]

<div class='one'>
<form method='post'>
<input type='hidden' name='process' value='1' />
<table align='center'>
    <tr class='title'><td colspan='2'>Style Setting</td></tr>
    <tr class='misc1'>
		<td align=right><b>Get Color Code</b></td>
		<td><select onchange="show_color(this.options[this.selectedIndex].value)" name="color">
		    [% color_option %]
		    </select> <input type=text name="showcolor" id='showcolor' size='7'>
		</td>
    </tr>
    <tr class='misc2'>
		<td align='right'><b>BackGround Color:</b></td>
		<td>
		<input type=text name="bg_color" id='bg_color' size='7' maxlength='7' onChange="CHANGEC('bg_color')">
		</td>
    </tr>
</table>
</form>
</div>

[% END %]