[% USE Dumper %]
[% USE date %]

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> 
<script type="text/javascript" src="[% base %]js/prototype.js"></script> 
<link rel="stylesheet" href="[% base %]css/common.css" type="text/css" />
[% IF forum.forum_id %]
    [% TRY %]
    [% css_file = c.config.home _ '/root/css/custom/forum' _ forum.forum_id _ '.css' %]
    [% USE File( css_file ) %]
<link rel="stylesheet" href="[% base %]css/custom/forum[% forum.forum_id %].css" type="text/css" />
    [% CATCH File %]
<link rel="stylesheet" href="[% base %]css/default.css" type="text/css" />
    [% END %]
[% ELSE %]
<link rel="stylesheet" href="[% base %]css/default.css" type="text/css" />
[% END %]
<title> 
    [% IF title %]
    [% title _ ' : ' _ c.config.name %]
    [% ELSE %]
    [% c.config.name %]
    [% END %]
</title>
</head>
<body>
[% UNLESS simple_wrapper %]
<br />
<div class='one'>
<table align='center'> 
<tr class='title'><td>

    <a href='/forum'>[% c.config.name %]</a>
    [% IF forum %] → <a href='/forum/[% forum.forum_id %]'>[% forum.name | html %]</a> [% END %]
    [% IF topic %] → [% topic.title | html %] [% END %]
<span style='float:right'>
    [% IF c.user_exists %]
    <a href='/message'>Message</a>
    <script type="text/javascript" src="[% c.config.dir.js %]/utils.js"></script>
<!--    <script type="text/javascript" src="/site/message.js"></script> -->
    <span id='new_message'></span> 
     | <a href='/profile/edit'>Edit Profile</a> | <a href='/logout'>Log out</a>
    [% ELSE %]
    <a href='/register'>Register</a>  | <a href='/login'>Log in</a>
    [% END %]
    [% IF forum.forum_id AND c.user_exists AND roles.is_admin %]
    | <a href='/forumadmin/[% forum.forum_id %]'>Forum Admin</a>
    [% END %]
</span>

</td></tr>
</table> 
</div>

<p></p>
[% END %]

[% content %]

[% UNLESS simple_wrapper %]

[% UNLESS no_online_view %] 
[% INCLUDE site/whos_view_this_page.html %]
[% END %]

<div id='footer'><p>Copyright &copy; 2006 All Rights Reserved. Powered by Foorum beta.</p></div>
<div id='timer'><p>This page needs [% elapsed_time %] to load. </p></div>
[% END %]
</body>
</html>