
<table align='center' class='tablewidth'>
<tr><td valign='top' align='left' width='200'>
<div class='one'>
<table>
<tr><td class='title'>[% c.loc('Menu') %]</td></tr>
<tr><td class='misc1'><a href='/message/compose'>[% c.loc('Compose New Message') %]</a></td></tr>
<tr><td class='misc2'><a href='/message/inbox'>[% c.loc('Inbox') %]</a></td></tr>
<tr><td class='misc1'><a href='/message/outbox'>[% c.loc('Outbox') %]</a></td></tr>
</table>
</div>
</td><td valign='top' width='*'>
[% content %]
</td></tr></table>
