[% WRAPPER 'message/bar.html' %]

<div class='one'> 
<table align='center'>
<tr class="title"><td width='30%'>From</td><td>Subject</td></tr>
<tr class="misc1">
<td>
    From: <a href='/u/[% message.sender.username %]'>[% message.sender.username %]</a><br />
    To:   <a href='/u/[% message.recipient.username %]'>[% message.recipient.username %]</a><br />
    Post on [% message.post_on %]
</td>
<td>
    <strong>[% message.title %]</strong><br />
    [% message.text %]
</td>
</tr>
</table>
</div>

[% IF message.recipient.user_id == c.user.user_id %]
<br />
<form action='/message/compose' method='post'>
<input type='hidden' name='process' value="1" />
<input type='hidden' name='to' value='[% message.sender.username %]' />
<div class='one'>
<table align='center'>
    <tr><td class="misc1" colspan='2'>Reply</td></tr>
    <tr><td class="misc2">Subject </td><td><input type='text' name='title' size='32' value='Re: [% message.title %]' /></td></tr>
    <tr><td class="misc1">Text: </td><td><textarea cols='70' rows='8' name='text'></textarea></td></tr>
    <tr><td class="misc2" colspan='2'><input type='submit' /></td></tr>
</table>
</div>
[% END %]

[% END %]