[% ERRORS = {
    'PERMISSION_DENIED' => 'Permission Denied.',
    'ALL_REQUIRED'      => 'ALL is required.',
    'USER_NON_EXSIT'    => 'User non-exist',
    'USER_BLOCKED'      => 'User blocked',
    'USER_PENDING'      => 'Your status is pending',
    'WRONG_VISIT'       => 'URL WRONG HERE',
    'EMAIL_OFF'         => 'Email function is disabled',
    'TITLE_LENGTH'      => 'Title should be 1 ~ 80 chars',
    'TEXT_REQUIRED'     => 'Text is required',
    'CLOSED'            => 'IT\'S CLOSED',
    '404'               => 'The requested URL is not found on this server.',
} %]

[% IF (matches = error.msg.match('ERROR_(\w+)'));
    IF ERRORS.${matches.0};
       error.msg = ERRORS.${matches.0};
    END;
   END %]

<style>
	A:visited{text-decoration: underline}
	A:link{text-decoration: underline;}
</style>
<div class='message'>
    <div class='highlight'>[% error.msg %]</div>
    <p>Please click <a href="javascript:history.back()">here</a> to go back.</p>
</div>