[% ERRORS = {
    'PERMISSION_DENIED' => 'Permission Denied.',
    'ALL_REQUIRED'      => 'ALL is required.',
    'USER_NON_EXSIT'    => 'user non-exist',
    'USER_BLOCKED'      => 'User blocked',
} %]

[% IF (matches = error.msg.match('ERROR_(\w+)'));
    IF ERRORS.${matches.0};
       error.msg = ERRORS.${matches.0};
    END;
   END %]

<style>
	A:visited{text-decoration: underline}
	A:link{text-decoration: underline;}
</style>
<div class='message'>
    <div class='highlight'>[% error.msg %]</div>
    <p>Please click <a href="javascript:history.back()">here</a> to go back.</p>
</div>