[% title = forum.name %]

<div class='none'>
<table align='center'>
<tr><td>
<a href='/forum/[% forum.forum_id %]/topic'><img src='[% c.config.dir.images %]/newthread.gif' width='99' height='25' align='absmiddle' /></a>
</td><td align='right' valign='bottom'>
Admin: <a href='/u/[% forum_roles.${forum.forum_id}.admin %]'>[% forum_roles.${forum.forum_id}.admin %]</a>
[% FOREACH moderator IN forum_roles.${forum.forum_id}.moderator %]
[% IF loop.first %], [% END %]<a href='/u/[% moderator %]'>[% moderator %]</a>[% UNLESS loop.last %], [% END %]
[% END %]
<td></tr>
</table>
</div>

<div class='one'>
<table height='28' align='center'>
	<tr class="title" align='center'>
	<td width='42'>Status</td>
	<td width='*'>Subject</td>
	<td width='80'>Author</td>
	<td width='40'>Reply</td>
	<td width='40'>Hit</td>
	<td width='190'>Last Update</td>
	</tr>
</table>
[% FOREACH t IN topics %]
<div class='multi'>
<table align='center'>
	<tr align='center'>
	<td class='forum1' width='42'>[% IF t.sticky %]TOP[% ELSIF t.closed %]Locked[% END %]</td>
	<td class='forum2' valign='top' width='*'>
		<table>
			<tr>
			<td align="left">
			    [% IF t.elite %]
			    <span class='highlight'>[Elite]</a> 
			    [% END %]
			    <a href='/forum/[% forum.forum_id %]/[% t.topic_id %]'><span class='semilight'>[% t.title | html %]</span></a>
			</td>
			</tr>
    	</table>
	</td>
	<td class='forum1' width='80'><a href='/u/[% t.author.username %]'>[% t.author.username %]</a></td>
	<td class='forum2' width='40'><span class='highlight'>[% t.total_replies  	 %]</span></td>
	<td class='forum2' width='40'><span class='highlight'>[% t.hit %]</span></td>
	<td class='forum1' width='190' align='left'><a href='/u/[% t.last_updator.username %]'>[% t.last_updator.username %]</a> | [% t.last_update_date %]</td>
	</tr>
</table>
</div>
[% END %]

<div class='none'>
<table align='center'>
    <tr><td>[% INCLUDE 'sub/pager.html' url_prefix = '/forum/' _ forum.forum_id %]</td></tr>
</table>
</div>
