<div class='one'>
<table align='center'>
	<tbody>
	<form method='post'>
	<input type='hidden' name='referer' value='[% c.req.param('referer') %]' />
	<tr class='title'><td colspan='2'>Login</td></tr>
	[% IF error %]
	<tr class='misc2'><td colspan='2'><span style='color:red'>
	[% SWITCH error %]
	    [% CASE 'ERROR_ALL_REQUIRED' %]
	    ALL is required.
	    [% CASE 'ERROR_AUTH_FAILED' %]
	    incorrect password or username.
	    [% CASE 'ERROR_CAPTCHA' %]
	    captcha is wrong, please try again.
	    [% CASE %]
	    [% error %]
	[% END %]
	</span></td></tr>
	[% END %]
	<tr class='misc1'><td width='20%' align='right'><label for="username">Username:</label></td><td><input type='text' name='username' value='[% c.req.param('username') %]' size='12' /></td></tr>
	<tr class='misc1'><td align='right'><label for="password">Password:</label></td><td><input type='password' name='password' size='12' /> <a href='/profile/forget_password'>Forget password?</a></td></tr>
	[% IF failure_login_times > 2 %]
    <tr class='misc2'><td align='right'>Captcha:</td><td><input type='text' name='captcha' size='12' /><img src='/captcha' /></td></tr>
    [% END %]
	<tr class='misc2'><td> </td><td><input type='checkbox' name='remember_me' id='remember_me' value='1' /> <label for='remember_me'>Remember me?</label></td></tr>
	<tr class='misc2'><td> </td><td><input type='submit' /></td></tr>
	</form>
	</tbody>
</table>
