
[% UNLESS c.user_exists %]
[% ERROR_LOGIN_FIRST = 'You need login first' %]
[% END %]

<div class='one'>
<table align='center'>
	<tbody>
	<tr class='title'><td colspan='2'>User profile</td></tr>
	<tr class='misc1'><td width='20%' align='right'>Username:</td><td>[% user.username %]</td></tr>
	<tr class='misc2'><td align='right'>Nickname:</td><td>[% user.nickname %]</td></tr>
	<tr class='misc2'><td align='right'>Email:</td><td>[% user.email | email_obfuscate %] <a href='/help/email'><img src='[% c.config.dir.images %]/site/help.gif' width='16' height='16' align='absmiddle' /></a></td></tr>
	<tr class='misc1'><td align='right'>Gender:</td><td>
	    [% SWITCH user.gender; CASE 'M';'Male';CASE 'F';'Female';CASE;'Secret';END; %]
	    [% IF user.gender %] &nbsp;<img src='[% c.config.dir.images %]/site/gender_[% user.gender %].gif' width='20' height='14' align='absmiddle' />[% END %]
	</td></tr>
	[% IF user.details.birthday %]
	<tr class='misc2'><td align='right'>Birthday:</td><td>[% user.details.birthday %]</td></tr>
	[% END %]
	<tr class='misc1'><td align='right'>Threads:</td><td>[% user.threads %]</td></tr>
	<tr class='misc2'><td align='right'>Replies:</td><td>[% user.replies %]</td></tr>
	<tr class='misc2'><td align='right'>Register date:</label></td><td>[% user.register_on %]</td></tr>
	<tr class='misc1'><td align='right'>Last Logon On:</td><td>[% user.last_login_on %]</td></tr>
	[% IF user.details.homepage %]
	<tr class='misc2'><td align='right'>Birthday:</td><td><a href='[% user.details.homepage %]' target='_blank'>[% user.details.homepage %]</a></td></tr>
	[% END %]
	
	[% IF user.details.qq OR user.details.msn OR user.details.gtalk OR user.details.skype OR user.details.yahoo %]
	<tr class='title'><td colspan='2'>Contact Information</td></tr>
	<tr class='misc2'><td align='right'>QQ:</td><td>[% user.details.qq %]</td></tr>
	<tr class='misc1'><td align='right'>MSN:</td><td>[% ERROR_LOGIN_FIRST || user.details.msn %]</td></tr>
	<tr class='misc2'><td align='right'>Gtalk:</td><td>[% ERROR_LOGIN_FIRST || user.details.gtalk %]</td></tr>
	<tr class='misc1'><td align='right'>Yahoo! ID:</td><td>[% user.details.yahoo %]</td></tr>
	<tr class='misc2'><td align='right'>Skype:</td><td>[% user.details.skype %]</td></tr>
	[% END %]
	
	</tbody>
</table>
</div>

[% INCLUDE comment/show_with_head.html %]
<br />
[% INCLUDE comment/post.html %]