[% url_base = '/forumadmin/' _ forum.forum_id %]

<table align='center' class='tablewidth'>
<tr><td valign='top' align='left'>
<div class='one'>
<table>
<tr><td class='title'>Menu</td></tr>
<tr><td class='forum1'><a href='[% url_base %]/basic'>[% c.loc('Basic Setting') %]</a></td></tr>
<tr><td class='forum2'><a href='[% url_base %]/style'>[% c.loc('Style Setting') %]</a></td></tr>
[% TRY %]
[% css_file = c.config.home _ '/style/custom/forum' _ forum.forum_id _ '.yml' %]
[% USE File( css_file ) %]
<tr><td class='forum1'><a href='[% url_base %]/del_style'>[% c.loc('Delete Style') %]</a></td></tr>
[% CATCH File %]
[% END %]
[% IF forum.policy == 'private' %]
<tr><td class='forum2'><a href='/forum/[% forum.forum_id %]/members'>[% c.loc('Members Settings') %]</a></td></tr>
[% END %]
<tr><td class='forum1'><a href='[% url_base %]/announcement'>[% c.loc('Announcement Setting') %]</a></td></tr>
</table>
</div>
</td><td valign='top'>
[% content %]
</td></tr></table>
