[% USE date %]

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> 
<script type="text/javascript" src="[% base %]js/prototype.js"></script> 
[% IF c.user_exists %]
    <script type="text/javascript" src="[% c.config.dir.js %]/utils.js"></script>
<!--    <script type="text/javascript" src="/site/message.js"></script> -->
    <script type='text/javascript' src="[% c.config.dir.js %]/JSAN/JSAN.js"></script>
    <script type="text/javascript" src="[% c.config.dir.js %]/scriptaculous/scriptaculous.js"></script>
[% END %]
<link rel="stylesheet" href="[% base %]css/common.css" type="text/css" />
[% IF forum.forum_id %]
    [% TRY %]
    [% css_file = c.config.home _ '/root/css/custom/forum' _ forum.forum_id _ '.css' %]
    [% USE File( css_file ) %]
<link rel="stylesheet" href="[% base %]css/custom/forum[% forum.forum_id %].css" type="text/css" />
    [% CATCH File %]
<link rel="stylesheet" href="[% base %]css/default.css" type="text/css" />
    [% END %]
[% ELSE %]
<link rel="stylesheet" href="[% base %]css/default.css" type="text/css" />
[% END %]
<title> 
    [% IF title %]
    [% title _ ' : ' _ c.config.name %]
    [% ELSE %]
    [% c.config.name %]
    [% END %]
</title>
</head>
<body>
[% UNLESS simple_wrapper %]
<br />
<div class='one'>
<table align='center'> 
<tr class='title'><td>

<span style='float:right'>
    [% IF c.user_exists %]
    <script>
        JSAN.use('Widget.Lightbox');
        JSAN.use("Effect.RoundedCorners");
        var box = new Widget.Lightbox();
        box.effects('RoundedCorners', 'Appear');
        box.content("<div class='lightbox'><h3>[% c.loc('My Panel') %]</h3><ul>" + 
            "<li><a href='/message'>[% c.loc('Message') %]</a></li>" + 
            "<li><a href='/my/starred'><img src='http://mail.google.com/mail/images/star_on_2.gif' /> My Starred Items</a></li>" + 
            "<li><a href='/profile/edit'>[% c.loc('Edit Profile') %]</a></li>" + 
            "</ul><div style='text-align:right'><a href='javascript:box.hide()'>[% c.loc('Close') %]</a></div></div>");
    </script>
    <span id='new_message'></span> 
       <a href='javascript:box.show();'>[% c.loc('My Panel') %]</a> 
     | <a href='/logout'>[% c.loc("Log out") %]</a> 
    [% ELSE %]
    <a href='/register'>[% c.loc("Register") %]</a>  | <a href='/login'>[% c.loc("Log in") %]</a> | <a href='/profile/forget_password'>[% c.loc("Forget password?") %]</a>
    [% END %]
    [% UNLESS forum %]
     | <a href='/forum/recent'>[% c.loc("Recent Topics") %]</a>
    [% END %]
    [% IF forum.forum_id AND c.user_exists AND roles.is_admin %]
    | <a href='/forumadmin/[% forum.forum_id %]'>[% c.loc('Forum Admin') %]</a>
    [% END %]
</span>

    <a href='/forum'>[% c.config.name %]</a>
    [% IF forum %] -> <a href='/forum/[% forum.forum_id %]'>[% forum.name %]</a> [% END %]
    [% IF topic %] -> [% topic.title %] [% END %]

</td></tr>
</table> 
</div>

<p></p>
[% END %]

[% content %]

[% UNLESS simple_wrapper %]

[% UNLESS no_online_view %] 
[% INCLUDE site/whos_view_this_page.html %]
[% END %]

<div id='footer'>
    <p>
    <div>Languages: <a href='[% c.req.uri_with( { set_lang => 'en' } ) %]'>English</a> | <a href='[% c.req.uri_with( { set_lang => 'cn' } ) %]'>简体中文</a></div>
    [% UNLESS forum %]<a href='/info/about_us'>About Us</a> | <a href='/info/contact_us'>Contact Us</a> | <a href='/help'>Help Center</a><br />[% END %]
    Copyright &copy; 2006 All Rights Reserved. Powered by <a href='/info/powered_by'>Foorum beta.</a>
    </p>
</div>
<div id='timer'><p>This page needs [% elapsed_time %] to load. </p></div>
[% END %]
</body>
</html>