<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
 
<script type="text/javascript" src="[% c.config.dir.js %]/jquery.js"></script>
<script type="text/javascript" src="[% c.config.dir.js %]/utils.js"></script>
[% IF c.user_exists %]
    <script type="text/javascript" src="[% c.config.dir.js %]/site/message.js"></script>
    <script type='text/javascript' src="[% c.config.dir.js %]/JSAN/JSAN.js"></script>
[% END %]
<link rel="stylesheet" href="[% c.config.dir.static %]/css/common.css" type="text/css" />
[% IF forum.forum_id %]
    [% TRY %]
    [% css_file = c.config.home _ '/root/static/css/custom/forum' _ forum.forum_id _ '.css' %]
    [% USE File( css_file ) %]
<link rel="stylesheet" href="[% c.config.dir.static %]/css/custom/forum[% forum.forum_id %].css" type="text/css" />
    [% CATCH File %]
<link rel="stylesheet" href="[% c.config.dir.static %]/css/default.css" type="text/css" />
    [% END %]
[% ELSE %]
<link rel="stylesheet" href="[% c.config.dir.static %]/css/default.css" type="text/css" />
[% END %]
[% IF c.config.extra.urchin_account %]
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "[% c.config.extra.urchin_account %]";
urchinTracker();
</script>
[% END %]
<title> 
    [% IF title %]
    [% title _ ' : ' _ c.config.name %]
    [% ELSE %]
    [% c.config.name %]
    [% END %]
</title>
<link rel="shortcut icon" href="[% c.config.dir.static %]/favicon.ico" type="image/x-icon" />
</head>
<body>
[% UNLESS simple_wrapper %]

<div class='barline'></div>
<div id="gbar">
<table border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td class="gbarp" nowrap="nowrap">
<b><a href='/forum'>[% c.config.name %]</a></b>
</td>
[% IF forum %]
<td class="gbarp" nowrap="nowrap">-></td>
<td class="gbarp" nowrap="nowrap">
<b><a href='[% forum.forum_url %]'>[% forum.name %]</a></b>
</td>
[% END %]
[% IF topic %]
<td class="gbarp" nowrap="nowrap">-></td>
<td class="gbarp" nowrap="nowrap">
<b>[% topic.title %]</b>
</td>
[% END %]
</tr>
</tbody>
</table>
</div>

<div id="guser" width="100%" align="right">
<nowrap>
    [% IF c.user_exists %]
    <script>
        JSAN.use('Widget.Lightbox');
        JSAN.use("Effect.RoundedCorners");
        var box = new Widget.Lightbox();
        box.effects('RoundedCorners');
        box.content("<div class='lightbox'><h3>[% c.loc('My Panel') %]</h3><ul>" + 
            "<li><a href='/message'>[% c.loc('Message') %]</a></li>" + 
            "<li><a href='/my/topics'>[% c.loc('My Recent Topics') %]</a></li>" + 
            "<li><a href='/my/starred'><img src='http://mail.google.com/mail/images/star_on_2.gif' /> My Starred Items</a></li>" + 
            "<li><a href='/profile/edit'>[% c.loc('Edit Profile') %]</a></li>" + 
            "</ul><div style='text-align:right'><a href='javascript:box.hide()'>[% c.loc('Close') %]</a></div></div>");
    </script>
    <span id='new_message'></span> 
       <a href='javascript:box.show();'>[% c.loc('My Panel') %]</a> 
     | <a href='/logout'>[% c.loc("Log out") %]</a> 
    [% ELSE %]
    <a href='/register'>[% c.loc("Register") %]</a>  | <a href='/login'>[% c.loc("Log in") %]</a> | <a href='/profile/forget_password'>[% c.loc("Forget password?") %]</a>
    [% END %]
    [% UNLESS forum %]
     | <a href='/site/recent'>[% c.loc("Recent Topics") %]</a>
    [% END %]
    [% IF forum.forum_code AND c.user_exists AND roles.is_admin %]
    | <a href='/forumadmin/[% forum.forum_id %]'>[% c.loc('Forum Admin') %]</a>
    [% END %]
    [% IF roles.site.admin OR roles.site.moderator %]
    | <a href='/admin'>[% c.loc('Site Admin') %]</a>
    [% END %]
</nowrap>
</div>
<div style="clear: both;">
</div>
<p></p>
[% END %]

[% content %]

[% UNLESS simple_wrapper %]

[% IF whos_view_this_page %] 
[% INCLUDE site/whos_view_this_page.html %]
[% END %]

<div id='footer'>
    <p>
    <div>Languages: <a href='[% c.req.uri_with( { lang => 'en' } ) %]'>English</a> | <a href='[% c.req.uri_with( { lang => 'cn' } ) %]'>简体中文</a></div>
    [% UNLESS forum %]<a href='/info/about_us'>[% c.loc("About Us") %]</a> | <a href='/info/contact_us'>[% c.loc("Contact Us") %]</a> | <a href='/help'>[% c.loc("Help Center") %]</a><br />[% END %]
    Copyright &copy; [% c.config.site.copy_rights_start_year %] - 2007 All Rights Reserved. Powered by <a href='/info/powered_by'>Foorum [% c.config.VERSION %].</a>
    </p>
</div>
<div id='timer'><p>This page takes [% elapsed_time %] to load. </p></div>
[% END %]
</body>
</html>