[% url_base = '/admin' %]

<table align='center' class='tablewidth'>
<tr><td valign='top' align='left' width='200'>
<div class='one'>
<table>
<tr><td class='title'>[% c.loc('Menu') %]</td></tr>
<tr><td class='misc2'><a href='[% url_base %]'>Site Map</a></td></tr>
<tr><td class='title'>Forum</td></tr>
<tr><td class='misc2'><a href='[% url_base %]/forum'>Forum Lists</a></td></tr>
<tr><td class='misc1'><a href='[% url_base %]/forum/create'>Create a Forum</a></td></tr>
<tr><td class='title'>User</td></tr>
<tr><td class='misc2'><a href='[% url_base %]/user'>User Lists</a></td></tr>
<tr><td class='misc1'><a href='[% url_base %]/user/edit'>Edit User</a></td></tr>
<tr><td class='title'>Tools</td></tr>
<tr><td class='misc1'><a href='/admin/tools/flush_cache'>Flush Cache</a></td></tr>
<tr><td class='misc2'><a href='/admin/tools/cache_stat'>Cache Stats</a></td></tr>
</table>
</div>
</td><td valign='top' width='*'>
[% content %]
</td></tr></table>